ul {
    list-style-position: inside;
}

#cookieContainer{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}

#cookie {
    position: absolute;
    margin: 0; 
    left: 50%;
    top: 50%;
    height: auto;
    background-color: #212121;
    transform: translate(-50%, -50%); 
    padding: 10px;
    min-width: 450px;
    max-width: 650px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}

#cookie button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: white;
    border: 0px;
    box-shadow: 0px 0px 5px black;

}

#cookie button:hover{
    cursor: pointer;
}

#cookieReject{
    margin-right: 10px;
    background-color: #d50000;
}

#cookieAccept{
    background-color: #558B2F;
}

@media only screen and (max-width: 950px) {
        #cookie {
        min-width: 90vw;
        max-width: 95vw;
    }
}