* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    background-color: #212121;
    display:flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
}

a {
    color: white;
}

nav{
    min-height: 5vh;
    line-height: 5vh;
    padding: 10px;
}

nav h1, nav p{
    display:inline;
}

.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.calender, #loadedData {
    background-color: #424242;
    max-width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color:white;
    flex-direction: column;
    
}

#loadedData{
    padding: 0px;
}

#loadedData p:not(:first-child){
    padding: 5px;
}

.footer {
    margin-top: 10px;
    background-color: #303030;
    color: #808080;
    min-height: 8vh;
    display:flex;
    justify-content: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p{
    padding: 10px;
}

.footer a {
    color: #808080;    
}

.table{
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.nthRow{
    background-color: #616161;
}

.table .time {
    padding-right: 10px;
    border-right: 3px solid white;
}

.table .header {
    font-weight:bold;
    border: 1px solid white;
    border-bottom: 3px solid white;
    padding: 3px;
}

.table .content{
    padding: 3px;
    border: 1px solid white;
    font-size: 14px;
}



#cookieContainer{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}

#cookie {
    position: absolute;
    margin: 0; 
    left: 50%;
    top: 50%;
    height: auto;
    background-color: #212121;
    transform: translate(-50%, -50%); 
    padding: 10px;
    min-width: 450px;
    max-width: 650px;
    border-radius: 15px;
}

#cookie button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: white;
    border: 0px;

}

#cookie button:hover{
    cursor: pointer;
}

#cookieReject{
    margin-right: 10px;
    background-color: #d50000;
}

#cookieAccept{
    background-color: #558B2F;
}

ul {
    list-style-position: inside;
}

@media only screen and (max-width: 950px) {
    .table{
        grid-template-columns: auto;
    }
    .table .header{
        background-color: #212121;
    }

    #cookie {
        min-width: 90vw;
        max-width: 95vw;
    }
}

