* {
    padding: 0;
    margin: 0;
    /* overflow-x:hidden; */
}

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #263238;
    display:flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x:hidden;
}

a {
    color: white;
}

nav{
    min-height: 8vh;
    line-height: 8vh;
    padding: 10px;
}

nav h1, nav p{
    display:inline;
}

.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.calender, #loadedData {
    background-color: #37474f;
    max-width: 90vw;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    
}

.footer {
    margin-top: 10px;
    background-color: #404040;
    color: #808080;
    min-height: 8vh;
    display:flex;
    justify-content: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p{
    padding: 10px;
}

.footer a {
    color: #808080;    
}

.table{
    display: grid;
    grid-template-columns: auto 175px 175px 175px 175px 175px 175px 175px ;
}

.nthRow{
    background-color: #102027;
}

.table .time {
    padding-right: 10px;
    border-right: 3px solid white;
}

.table .header {
    font-weight:bold;
    border: 1px solid white;
    border-bottom: 3px solid white;
    padding: 3px;
}

.table .content{
    padding: 3px;
    border: 1px solid white;
    font-size: 14px;
}

@media only screen and (max-width: 1000px) {
    .table{
        grid-template-columns: auto;
        grid-template-areas:
            "Monday"
            "content"
            "Tuesday"
            "content"
            "Wednesday"
            "content"
            "Thursday"
            "content"
            "Friday"
            "content"
            "Saturday"
            "content"
            "Sunday"
            "content"
    }
}