* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    background-color: rgb(5,5,12);
    display:flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
}

a {
    color: white;
}

nav{
    min-height: 5vh;
    line-height: 5vh;
    padding: 10px;
}

nav h1, nav p{
    display:inline;
}

.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.07);
    margin-bottom: 0px;
}

.calender, #loadedData {
    max-width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color:white;
    flex-direction: column;
}

#loadedData{
    padding: 0px;
}

#loadedData p:not(:first-child){
    padding: 5px;
}

.footer {
    color: #808080;
    min-height: 10vh;
    display:flex;
    justify-content: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p{
    padding: 10px;
}

.footer a {
    color: #808080;    
}

.table{
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.nthRow{
    background-color: rgba(255,255,255, 0.04);
}

.currDay {
    background-color: rgba(200,200,255, 0.07) !important;
}

.table .time {
    padding-right: 10px;
    border-right: 3px solid white;
}

.table .header {
    font-weight:bold;
    border: 1px solid white;
    border-bottom: 3px solid white;
    padding: 3px;
}

.table .content{
    padding: 3px;
    border: 1px solid white;
    font-size: 14px;
}

ul {
    list-style-position: inside;
}

@media only screen and (max-width: 950px) {
    .table{
        grid-template-columns: auto;
    }
    .table .header{
        background-color: rgba(255,255,255, 0.16);
    }

    #sidemenu{
        display:none;
    }
}

